{% extends 'layouts/base.html' %}


{% block body%}
<div style="margin-top: 70px; padding: 2rem;">
    <a href="{% url 'products.create' %}" class="cta-button">Add a Product</a>
    <table class="table table-stripe">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Show</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description}}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.instock }}</td>
                <td>{{ product.created_at }}</td>
                <td>{{ product.updated_at }}</td>
                <td> <a href="{% url 'products.show' product.id %}" class="cta-button">Show</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}